<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
		<servlet-name>PatientLogController</servlet-name>
		<display-name>PatientLogController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.PatientLogController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatientController</servlet-name>
		<display-name>PatientController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.PatientController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatientRegController</servlet-name>
		<display-name>PatientRegController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.PatientRegController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppointmentController</servlet-name>
		<display-name>AppointmentController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.AppointmentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaymentController</servlet-name>
		<display-name>PaymentController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.PaymentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestResultController</servlet-name>
		<display-name>TestResultController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.TestResultController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorController</servlet-name>
		<display-name>DoctorController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.DoctorController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestController</servlet-name>
		<display-name>TestController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.TestController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TechnicianLoginController</servlet-name>
		<display-name>TechnicianLoginController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.TechnicianLoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TechnicianController</servlet-name>
		<display-name>TechnicianController</display-name>
		<description></description>
		<servlet-class>com.shamcode.abclab.controller.TechnicianController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientLogController</servlet-name>
		<url-pattern>/PatientLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientController</servlet-name>
		<url-pattern>/Patient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientController</servlet-name>
		<url-pattern>/patient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientRegController</servlet-name>
		<url-pattern>/PatientRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientRegController</servlet-name>
		<url-pattern>/patientRegister</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/appointment</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>PaymentController</servlet-name>
  	<url-pattern>/Payment</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>PaymentController</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   	<servlet-name>TestResultController</servlet-name>
   	<url-pattern>/TestResult</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
   	<servlet-name>TestResultController</servlet-name>
   	<url-pattern>/result</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     	<servlet-name>DoctorController</servlet-name>
     	<url-pattern>/Doctor</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
     	<servlet-name>DoctorController</servlet-name>
     	<url-pattern>/doctor</url-pattern>
     </servlet-mapping>
      <servlet-mapping>
     	<servlet-name>TestController</servlet-name>
     	<url-pattern>/Test</url-pattern>
     </servlet-mapping>
      <servlet-mapping>
     	<servlet-name>TestController</servlet-name>
     	<url-pattern>/test</url-pattern>
     </servlet-mapping>
      <servlet-mapping>
     	<servlet-name>TechnicianLoginController</servlet-name>
     	<url-pattern>/TechnicianLoginController</url-pattern>
     </servlet-mapping>
   <servlet-mapping>
     	<servlet-name>TechnicianController</servlet-name>
     	<url-pattern>/Technician</url-pattern>
     </servlet-mapping>
      <servlet-mapping>
     	<servlet-name>TechnicianController</servlet-name>
     	<url-pattern>/technician</url-pattern>
     </servlet-mapping>   
</web-app>
